body {
    font-family:'Roboto', Courier, monospace;
    margin: 0;
    padding: 0;
}

.header-section{
    background-color: #1F2937;
    display: flex;
    padding: 12px 36px;
    justify-content: space-between;
    align-items: center;
}

.header-link a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-link {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

ul {
    margin: 0;
    padding: 0;
}

.desc-section{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 48px 60px;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: column;
    width: 720px;
    gap: 12px;
}

.description .title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.description .title-desc{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up{
    background-color: lightcoral;
    color: white;
    padding: 12px 32px;
    width:fit-content;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 800;
}

.info-section{
    display: flex;
    flex-direction: column;
    padding: 72px;
    align-items: center;
    gap: 20px;
}

.facts{
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
}

.fact{
    display: flex;
    flex-direction: column;
    width: 420px;
    text-align: center;
}

.info-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.fact-img img, .desc-section img{
    border: 5px solid lightcoral;
    border-radius: 12px;
}

.quote-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 240px;
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author{
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

.full-quote{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
